#Initialize mod_rewrite
RewriteEngine On
#<FilesMatch "\.(html|htm|js|css|vue)$">
#  FileETag None
#  <IfModule mod_headers.c>
#    Header unset ETag
#    Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
#    Header set Pragma "no-cache"
#    Header set Expires "Wed, 12 Jan 1980 05:00:00 GMT"
#  </IfModule>
#</FilesMatch>
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]

RewriteRule ^(.*) index.html [NC,L]